{
    "tables":{
        "pais": {
            "filters": [
                "id < 10"
            ],

            "censorchip": {
                "a2": {
                    "prefix": "****_",
                    "suffix": "_****",
                    "blank": false, // Set to blank
                    "null": false, // Set to null (null has more priority than blank)
                }
            },

            "triggers": [
                    {"name": "divisa",
                    "link": "divisa_id",
                    },
                    {"name": "divisa2",
                    "link": "divisa2_id",
                    },
                ],
            }
        }
    }
}